
.instructionWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100vh;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s ease;
}

.instructionWrapper > .schoolLogo {
  position: absolute;
  top: calc(min(2vh, 2vw));
  left: calc(min(2vh, 2vw));
  content: url(../images/schoolLogo.png);
  width: calc(min(15.7vh, 15.7vw));
}

.instructionWrapper > .gameTitle {
  background-image: url(../images/gameTitle.png);
  height: calc(min(16.5vh, 16.5vw));
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.instructionWrapper > .gameTextTitle {
  font-family: "Arzachel", system-ui;
  font-weight: bolder;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  font-size: calc(min(8.5vh, 8.5vw));
  /* height: calc(min(16.5vh, 16.5vw)); */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  color: #9c6334;
}

.instructionWrapper > .instructionBoard {
  background-image: url(../images/instructionBoard_spelling.png);
  height: calc(min(53vh, 53vw));
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: center;
}
.instructionWrapper > .instructionBoard > .instructionText {
  font-family: "Arzachel", system-ui;
  font-weight: bolder;
  font-size: calc(min(4.5vh, 4.5vw));
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  /*-webkit-text-stroke: 2px #797979;*/
  pointer-events: none;
  text-align: center;
  height: fit-content;
  transform: translateY(5%);
}
.instructionWrapper > .instructionBoard > .instructionContent {
  position: absolute;
  font-family: "Arzachel", system-ui;
  font-weight: bold;
  font-size: calc(min(2.5vh, 2.5vw));
  color: #7C5729;
  pointer-events: none;
  text-align: center;
  height: fit-content;
  bottom: 10%;
}

.instructionWrapper > .startBtn {
  content: url(../images/start_yellow.png);
  width: calc(min(20.7vh, 20.7vw));
  height: calc(min(8.7vh, 8.7vw));;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-name: startBtnAnimation;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.instructionWrapper > .startBtn > .startBtnText {
  transform: translateY(-5%);
  font-family: "Arzachel", system-ui;
  font-weight: bolder;
  font-size: calc(min(5.5vh, 5.5vw));
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  /*-webkit-text-stroke: 2px #797979;*/
  pointer-events: none;
  text-align: center;
}

@keyframes startBtnAnimation {
  0% {
    content: url(../images/start_yellow.png);
  }
  51% {
    content: url(../images/start_green.png);
  }
}

/*@keyframes startBtnTextAnimation {
  0% {
    -webkit-text-stroke: 2px #e68b14ce;
    pointer-events: none;
  }
  51% {
    -webkit-text-stroke: 2px #608364ce;
    pointer-events: none;
  }
}*/

.instructionWrapper > .startBtn:active {
  content: url(../images/start_green.png);
}


