
.instructionWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100vh;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s ease;
}

.instructionWrapper > .schoolLogo {
  position: absolute;
  top: calc(min(2vh, 2vw));
  left: calc(min(2vh, 2vw));
  content: url(../images/schoolLogo.png);
  width: calc(min(15.7vh, 15.7vw));
}

.instructionWrapper > .gameTitle {
  background-image: url(../images/gameTitle.png);
  height: calc(min(16.5vh, 16.5vw));
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.instructionWrapper > .gameTextTitle {
  font-family: "Arzachel", system-ui;
  font-weight: bolder;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  font-size: calc(min(8.5vh, 8.5vw));
  /* height: calc(min(16.5vh, 16.5vw)); */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  color: #9c6334;
}

.instructionWrapper > .instructionBoard {
  background-image: url(../images/instructionBoard_spelling.png);
  height: calc(min(65vh, 65vw));
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instructionWrapper > .instructionBoard > .previewImage {
  background-image: url(../images/screen_mpair.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: calc(min(38vh, 38vw));
  height: calc(min(26vh, 26vw));
  border-radius: calc(min(3vh, 3vw));
  margin-bottom: calc(min(12vh, 12vw));
}
.instructionWrapper > .instructionBoard > .instructionRule {
  display: flex;
  align-items: center;
  width: calc(min(52vh, 52vw));
  height: calc(min(5vh, 5vw));
  position: absolute;
  margin-top: calc(min(22vh, 22vw));
  column-gap:calc(min(1vh, 1vw));
}
.instructionWrapper > .instructionBoard > .instructionRule > .icon {
  background-image: url(../images/spelling/icon_controller.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: calc(min(5vh, 5vw));
  height: calc(min(5vh, 5vw));
  margin-right: 0.5rem;
}
.instructionWrapper > .instructionBoard > .instructionText {
  font-family: "Arzachel", system-ui;
  font-weight: 700;
  font-size: calc(min(4.5vh, 4.5vw));
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  /*-webkit-text-stroke: 2px #797979;*/
  pointer-events: none;
  text-align: center;
  height: fit-content;
  transform: translateY(5%);
}
.instructionWrapper > .instructionBoard >.instructionRule > .instructionContent {
  font-family: "Arzachel", system-ui;
  font-weight: bold;
  font-size: calc(min(2.5vh, 2.5vw));
  color: #7C5729;
  pointer-events: none;
  text-align: center;
  height: fit-content;
}

.instructionWrapper > .instructionBoard > .startBtn {
  content: url(../images/spelling/btn_start.png);
  /*width: calc(min(20.7vh, 20.7vw));*/
  height: calc(min(7.5vh, 7.5vw));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*animation-name: startBtnAnimation;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  margin-top: calc(min(38vh, 38vw));
}

.instructionWrapper > .instructionBoard > .startBtn:active {
  height: calc(min(6.5vh, 6.5vw));
  padding: calc(min(1vh, 1vw));
}

@keyframes startBtnAnimation {
  0% {
    content: url(../images/start_yellow.png);
  }
  51% {
    content: url(../images/start_green.png);
  }
}

/*@keyframes startBtnTextAnimation {
  0% {
    -webkit-text-stroke: 2px #e68b14ce;
    pointer-events: none;
  }
  51% {
    -webkit-text-stroke: 2px #608364ce;
    pointer-events: none;
  }
}*/

.instructionWrapper > .startBtn:active {
  content: url(../images/start_green.png);
}


